<!-- Toolbar -->
<!--<div ng-include="'\src\Templates\add-modal.html'"></div>-->
ABC
<div role="banner">
  <img width="40"
       alt="Angular Logo"
       src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>ToDo</span>
</div>

<div class="content" role="main">

  <div>
    <button title="Add your tasks here!" class="highlight-card" (click)="openAddNote(addNote)">Add your tasks here!</button>
  </div>


</div>
<ng-template #addNote let-modal>
  <div class="modal-header">
    <h4 class="modal-title"
        id="modal-basic-title">
      Add Note
    </h4>
    <button type="button" class="close"
            aria-label="Close" (click)="modal.dismiss('Cross click')">

      <span aria-hidden="true">
        ×
      </span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="noteTitle">
          Title
        </label>
        <input type="text" class="form-control" id="noteTitle"/>
        <br />

        <label for="dateOfTask">
          Date &amp; Time
        </label>
        <div class="input-group">
          <input id="dateOfTask"
                 class="form-control"
                 placeholder="yyyy-mm-dd"
                 name="dp" ngbDatepicker
                 #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn
                btn-outline-secondary calendar"
                    (click)="dp.toggle()"
                    type="button">
            </button>
          </div>
          <br />
          <input type="time" />
        </div>

        <br />

        <label for="noteSummary">
          Summary
        </label>
        <input type="text" class="form-control" id="noteSummary" />
        <br />

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline-dark"
            (click)="saveNote(addNote,'')">
      Save
    </button>
  </div>
</ng-template>


<router-outlet>
</router-outlet>
